/**
 * Sass 变量
 */

// Color
$blue: #0081ff;
$bluelight: #2daef8;
$red: #e83147;
$reddark: #ff3f3e;
$orange: #ffa42f;
$green: #07c160;
$white: #ffffff;
$black: #000000;
$graydarker: #333333;
$graydark: #666666;
$gray: #888888;
$graylight: #bfbfbf;
$bgline: #dddddd;
$bgdot: #b2b2b2;
$bglinelight: #ededed;
$bgcolor: #ededed;
$bgborder: #d8d8d8;

// Margin
$mg-xs: 5px;
$mg-sm: 10px;
$mg-md: 15px;
$mg-lg: 20px;
$mg-xl: 30px;
$mg-xxl: 40px;

// Padding
$pd-xs: 5px;
$pd-sm: 10px;
$pd-md: 15px;
$pd-lg: 20px;
$pd-xl: 30px;
$pd-xxl: 40px;

// Font
$font10: 10px;
$font11: 11px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font26: 26px;
