/* pages/work/detail.wxss */

@import "../../assets/scss/support";

.delivery-detail {
    padding: 16px 0;
}
.delivery-detail .weui-flex__item {
    position: relative;
}
.delivery-detail .weui-flex__item + .weui-flex__item:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid $bgline;
    z-index: 1;
}

.delivery-goods {
    margin: 16px;
    padding: 10px;
    border-radius: 10px;
}
.delivery-goods-info {
    align-items: center
}
